.about {
    padding-top: 120px;
    margin-bottom: 50px;
}
.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 40px 95px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(100px);
    border-radius: 120px;
}
.about__left {
    display: flex;
    flex-direction: column;
}
.about__info-block {
    max-width: 402px;
    &:first-child{
        margin-bottom: 27px;
    }
}
.about__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #00A9D1;
    margin-bottom: 14px;
}
.about__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #123D53;
}
.about__right {
    max-width: 536px;
    // height: 659px;
}

// @include breakpoint-up(1535px){
//     padding-top: 160px;
//     margin-bottom: 180px;
// }

@include breakpoint-down(1024px){
    .about{
        margin-bottom: 120px;
        padding-top: 72px;
    }
    .about__inner {
        padding: 50px 0 50px 74px;
        border-radius: 100px;
    }
    .about__info-block {
        max-width: 395px;
        &:first-child{
            margin-bottom: 23px;
            max-width: 411px;
        }
    }
    .about__title {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 10px;
    }
    .about__desc {
        font-size: 16px;
        line-height: 26px;
    }
}

@include breakpoint-down(768px){
    .about{
        margin-bottom: 50px;
    }
    .about__inner{
        flex-direction: column;
        padding: 40px 70px;
        border-radius: 100px;
    }
    .about__info-block{
        max-width: 100%;
        &:first-child{
            max-width: 100%;
        }
    }
    .about__right {
        max-width: 406px;
    }
}

// BREAK POINTS FOR MOBILE DEVICE
@include breakpoint-down(576px){
    .about{
        padding-top: 64px;
        margin-bottom: 110px;
    }
    .about__inner {
        justify-content: center;
        flex-direction: column;
        padding: 33px 26px 0 26px;
        border-radius: 35px;
    }
    .about__info-block {
        max-width: 100%;
        &:first-child{
            margin-bottom: 25px;
            max-width: 100%;
        }
    }
    .about__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    .about__desc {
        font-size: 14px;
        line-height: 24px;
    }
    .about__right {
        margin-top: -15px;
        max-width: 100%;
    }
}