.about {
    margin-bottom: 180px;
}
.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 79px 0 79px 116px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(100px);
    border-radius: 120px;
}
.about__left {
    display: flex;
    flex-direction: column;
}
.about__info-block {
    max-width: 701px;
    &:first-child{
        margin-bottom: 62px;
        max-width: 635px;
    }
}
.about__title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    color: #00A9D1;
    margin-bottom: 26px;
}
.about__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 42px;
    color: #123D53;
}
.about__right {
    max-width: 741px;
    // height: 659px;
}
.about__img {
}

@include breakpoint-down(1024px){
    .about{
        margin-bottom: 100px;
    }
    .about__inner {
        padding: 50px 0 50px 74px;
        border-radius: 100px;
    }
    .about__info-block {
        max-width: 395px;
        &:first-child{
            margin-bottom: 23px;
            max-width: 451px;
        }
    }
    .about__title {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 10px;
    }
    .about__desc {
        font-size: 16px;
        line-height: 26px;
        max-width: 411px;

    }
    .about__right{
        // max-width: 390px;
    }
}

// BREAK POINTS FOR MOBILE DEVICE
@include breakpoint-down(578px){
    .about__inner {
        justify-content: center;
        flex-direction: column;
        padding: 33px 29px 0 29px;
        border-radius: 35px;
    }
    .about__info-block {
        max-width: 100%;
        &:first-child{
            margin-bottom: 25px;
            max-width: 100%;
        }
    }
    .about__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .about__desc {
        font-size: 14px;
        line-height: 24px;
    }
    .about__right {
        max-width: 100%;
    }
}