.pills {

}
.pills__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(2){
        flex-direction: row-reverse;
        margin-top: -200px;
        margin-bottom: -200px;
        margin-right: -120px;
        padding-left: 180px;
    }

    &:nth-child(odd){
        padding-right: 180px;
    }
}
.pills__left {

}
.pills__phone {
}
.pills__right {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}
.number {
    width: 250px;
}
.pills__info {
    display: flex;
    flex-direction: column;
}
.pills__title {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #10A6C9;
    margin-bottom: 35px;
}
.pills__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #123D53;
    max-width: 458px;
}

// BREAK POINT FOR MOBILE DESIGN
@include breakpoint-down(578px){
    .pills{
        margin-bottom: 60px;
    }
    .pills__inner {
        flex-direction: column-reverse;
        justify-content: center;
    
        &:nth-child(2){
            flex-direction: column-reverse;
            margin-top: 0;
            margin-bottom: 30px;
            margin-right: 0;
            padding-left: 0;
        }
    
        &:nth-child(odd){
            padding-right: 0;
        }
    }
    .pills__left {
        width: 100%;
        height: auto;
    }
    .pills__phone {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    .pills__right {
        margin-bottom: 48px;
    }
    .number {
        width: 125px;
        margin-bottom: 10px;
    }
    .pills__info{
        margin-right: auto;
        margin-left: auto;
    }
    .pills__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .pills__desc {
        font-size: 14px;
        line-height: 25px;
        max-width: 284px;
    }
}