
.pills__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child{
        margin-bottom: 0px;
    }
    &:nth-child(2){
        margin-bottom: -50px;
        padding-left: 100px;
    }
    &:last-child{
        margin-bottom: 35px;
    }

    &:nth-child(odd){
        padding-right: 90px;
        flex-direction: row-reverse;

    }
}

.pills__phone1 {
    max-width: 558px;
    height: auto;
}
.pills__phone2 {
    max-width: 550px;
    height: auto;
}
.pills__phone3 {
    max-width: 564px;
    height: auto;
}
.pills__right {
    display: flex;
    flex-direction: column;
}
.number {
    width: 130px;
}
.pills__info {
    display: flex;
    flex-direction: column;
}
.pills__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #10A6C9;
    margin-top: -20px;
    margin-bottom: 20px;
}
.pills__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    color: #123D53;
    max-width: 356px;
}

@include breakpoint-up(1535px){
    .pills__inner {
    
        &:first-child{
            margin-top: 150px;
            margin-bottom: 100px;
        }
        &:nth-child(2){
            margin-bottom: 10px;
        }
        &:last-child{
            margin-bottom: 125px;
        }
    
        &:nth-child(odd){
            padding-right: 90px;
            flex-direction: row-reverse;
    
        }
    }
}

// BREAKPOINT FOR TABLET
@include breakpoint-down(1024px){
    .pills{
        margin-bottom: 210px;
    }
    .pills__inner {
    
        &:first-child{
            margin-bottom: 0px;
        }
        &:nth-child(2){
            padding-left: 50px;
            margin-bottom: 10px;
        }
        // &:last-child{
        //     margin-bottom: 190px;
        // }
    
        &:nth-child(odd){
            padding-right: 30px;
        }
    }
    .pills__phone1 {
        max-width: 488px;
    }
    .pills__phone2 {
        max-width: 480px;
    }
    .pills__phone3 {
        max-width: 474px;
    }
    .number {
        width: 150px;
    }
    .pills__title {
        font-size: 24px;
        line-height: 29px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .pills__desc {
        font-size: 18px;
        line-height: 30px;
        max-width: 282px;
    }
}

@include breakpoint-down(768px){
    .pills{
        // overflow-y: hidden;
        margin-bottom: 110px;
    }
    .pills__inner {
    
        &:first-child{
            margin-bottom: 0px;
        }
        &:nth-child(2){
            margin-bottom: 0px;
            padding-left: 0;
        }
        &:last-child{
            margin-bottom: 0px;
        }
        &:nth-child(odd){
            padding-right: 0px;
        }
    }
    .pills__phone1 {
        max-width: 370px;
    }
    .pills__phone2 {
        max-width: 370px;
    }
    .pills__phone3 {
        max-width: 370px;
    }
}

// BREAK POINT FOR MOBILE DESIGN
@include breakpoint-down(576px){
    .pills{
        overflow: hidden;
        margin-bottom: 60px;
    }
    .pills__inner {
        flex-direction: column-reverse;
        justify-content: center;
        &:first-child{
            padding-top: 40px;
            margin-bottom: 40px;
        }
        &:nth-child(2){
            flex-direction: column;
            margin-bottom: 50px;
            margin-top: -20px;
            padding-left: 0;
        }
    
        &:nth-child(odd){
            padding-right: 0;
            flex-direction: column;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .pills__left {
        width: 100%;
        height: auto;
    }
    .pills__phone1, .pills__phone2, .pills__phone3 {
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .pills__right {
        margin-bottom: 48px;
    }
    .pills__right-three{
        margin-bottom: 0px;
    }
    .number {
        width: 95px;
        margin-bottom: 0;
    }
    .pills__info{
        margin-right: auto;
        margin-left: auto;
    }
    .pills__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .pills__desc {
        font-size: 14px;
        line-height: 25px;
        max-width: 284px;
    }
}